header {
    background-color: rgb(0, 0, 0);
    padding: 100px;
    text-align: left;
    font-size: 50px;
    color: white;
    height: 10px;
}

body {
    background-color: rgb(52, 54, 54);
    font-size: 1.3rem;
    font-family: 'Muli', sans-serif;
    color: #1E1E24
    
}
.carousel-inner {
 
}

#ekakuva {
    height: 500px;
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;
}

#tokakuva {
    height: 500px;
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;
}

#kolmaskuva {
    height: 500px;
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    columns: 3;
    column-rule: 1px dotted; 
  }

  #CR {
    padding-top: 20px;
    color: #545310;
  }

  #etusivu {
    background-color: black;
  }
  #liity {
    background-color: black;
  }
  #yhteystiedot {
    background-color: black;
  }
  .fa-instagram {
    background: #125688;
    color: white;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .section {
    width: 100%;
    height: 400px;
    padding-left: 50px;
    padding-top: 70px;
    padding-bottom: 50px;
    padding-right: 50px;
    background-color: #e5f4d6;
    columns: 3;
    column-rule: 1px dotted;
    column-gap: 3em;
  }
  #Tervetuloa {
    font-size: 2.5rem;
    color: #92140c;

  }

  #kansikuva {
    width: 100%;
  }

  #pääotsikko {
    font-size: 80px;
  }

  ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #48c7d5;
  }
  
@media only screen and (max-width: 620px) {
  .mainnav {
    width: 100%;
  }
  
  .mainhed {
    width: 100%;
      }  
      .section {
        column-width: 400px;
      }
}

.taulukko {
  padding-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 30px;
}

.section2 {
  background-color: #e5f4d6;
columns: 2;
column-rule: 2px dotted #ccc;
text-align: center;
padding-top: 30px;
padding-bottom: 10px;
}

.formmm {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  background-color: #e5f4d6;
}

.section3 {
  background-color: #e5f4d6;
  text-align: center;
  height: 800px;
}
#otsikko3 {
  color: #92140c;
  font-size: 100px;
  padding-top: 200px;
  padding-right: 100px;
  float: right;

}

.droppi {
  padding-left: 100px;
  margin-inline-end: 75%
  
}

#info {
  columns: 1;
  margin-inline-end: 70%;
  padding-top: 35px;
  padding-left: 20px;
  font-size: 20px;
  float: left;
  font-family: 'Times New Roman', Times, serif;
}

#vatanen {
  float: left;
  padding-top: 100px;
  padding-left: 30px;
  border-radius: 50%;
}

.article {
  background-color: rgb(243, 233, 233)
}

#hinnasto2 {
  padding-left: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.yhtotto {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}

.aside {
  background-color: #e5f4d6;
  columns: 2;
  text-align: center;
  height: 300px;
  padding-top: 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.aside h2 {
  color: #92140c;
  font-size: 40px;
}

.section2 h1{
  color: #92140c;
}
#opiskelijat {
  color: #92140c;
}

.Tervetuloa {
  background-color: #e5f4d6;
  height: 300px;
  text-align: center;
  padding-top: 100px;
}
.Tervetuloa h1 {
  color: #92140c;
  font-size: 60px;
  font-family:Georgia, 'Times New Roman', Times, serif
}