body{
    background-color: black;
    color: white;
}
h1 {
    color:blanchedalmond;
    font-family: Arial, Helvetica;
    font-size: 20px
}
p {
    color: lightgray;
    font-size: 12px
}
.myDiv {
    border: 2px outset black;
    border-style: dotted;
    background-color: rgb(20, 35, 9);
    text-align: center;
    height: 100px;
    width: 100px;
}
ol {
    list-style-type: upper-alpha;
}
ul {
    list-style-type: square;
}